body{
    background-color: rgb(202, 202, 202);
    font-family: 'Roboto Mono', monospace;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 200px; /* Need a specific value to work */
}

h1{
    position: absolute;
    top: 165px;
    inline-size: 357px;
    overflow-wrap: break-word;
    margin-left: 30px;
    left: 60px;
}

p{
    position: absolute;
    top: 265px;
    margin-left: 30px;
    left: 60px;
}

.login{
    position: absolute;
    right: 50px;
    top: 170px;
    right: 120px;
}

.ripple{
    background-position: center;
    transition: background 0.5s;
  }
  .ripple:hover {
    background: #949494 radial-gradient(circle, transparent 1%, #696969 1%) center/15000%;
  }
  .ripple:active {
    background-color: #d1cfcf;
    background-size: 100%;
    transition: background 0s;
}

button{
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 0 4px #999;
    background-color: #bbbbbb;
}